* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    color: #fff;
    background-color: #57ee1d;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10h10v10H0V10zM10 0h10v10H10V0z' fill='%23001215' fill-opacity='0.11' fill-rule='evenodd'/%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

/*Navigation*/

.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.rexraptor {
    width: 50px;
}


/*nav left*/

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
}

.nav-main ul li a {
    padding: 6px;
    color: #000;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid white;
}

.nav-main ul .nav-menu {
    flex: 1;
    margin-left: 20px;
}

.menu-btn {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    font-size: 1.5rem;
    display: none;
}

/*Segunda seccion*/

.showcase {
    width: 100%;
    height: 550px;
    background: url('../sources/brawl-fondo.jpg') no-repeat center center/cover;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin: 10px 0;
    padding: 30px;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    margin: 10px 0;
}

.btn:hover {
    opacity: 0.7;
}

.showcase h2 , .showcase p {
    margin-bottom: 10px;
}

/* News games*/
h1 {
    text-align: center;
    margin: 10px 0;
    padding: 20px;
    background: skyblue;
    color: #000;
}
.news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 10px 0;
}

.news img {
    width: 100%;
    height: 170px;
}

.img4 {
    background: #ccc;
}

.news h3 {
    font-size: 20px;
    margin: 10px 0;
}

.news a {
    padding: 10px 0;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.news a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.news2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 10px 0;
}

.news2 img {
    width: 100%;
    height: 170px;
}

.news2 h3 {
    font-size: 20px;
    margin: 10px 0;
}

.news2 a {
    padding: 10px 0;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.news2 a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.section-banner {
    width: 100%;
    height: 350px;
    background-image: url('../sources/79.jpg');
    margin-bottom: 40px;
    margin: 10px 0;
    padding: 20px;
}

.section-banner .content {
    width: 40%;
    padding: 90px 0 0 30px;
    color: #fff;
}

.section-banner p , .section-banner h2 {
    margin: 10px 0 20px 0;
}

/*Segundo banner*/

.section2-banner {
    width: 100%;
    height: 350px;
    background-image: url('../sources/79.jpg');
    margin-bottom: 40px;
    margin: 10px 0;
    padding: 20px;
}

.section2-banner .content {
    width: 50%;
    padding: 100px 0 0 30px;
    color: #fff;
}

.section2-banner p , .section2-banner h2 {
    margin: 10px 0 20px 0;
}

/* Social media */

.social {
    margin: 50px;
}

.social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links {
    display: contents;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 0 30px;
}

.links i:hover{
    transform: scale(1) rotate(360deg);
    transition: .7s linear;
}

.links a i {
    font-size: 3rem;
}

/* footer links */

.footer-links {
    background: #2f3640;
    color: #7b5d5d;
    font-size: 12px;
    padding: 35px 0;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.footer-container ul {
    margin: 0 auto;
}

.footer-container ul li {
    line-height: 2.8;
}

.footer {
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}

@media (max-width: 700px) {

    .menu-btn {
        display: block;
    }

    .nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #2f3640;
        height: 100%;
        padding: 30px;
        opacity: 0.9;
        transform: translateX(-400px);
        transition: transform 0.5s ease-in-out;
    }
    
    .nav-main ul.nav-menu.show {
        transform: translateX(-20px);
    }

    .nav-main ul.nav-menu li {
        padding: 20px;
        border-bottom: #ccc 1px solid;
        font-size: 14px;
    }

    .nav-main ul.nav-menu-right {
        margin-right: 40px;
    }

    .news {
        grid-template-columns: repeat(2, 1fr);
    }

    .news2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .section-banner .content , .section2-banner .content {
        width: 80%;
    }

    .footer-links .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    body {
        background: blue;
    }
    .news {
    grid-template-columns: 1fr;
    }

    .news2 {
        grid-template-columns: 1fr;
    }

    .news img {
        height: 270px;
    }

    .news2 img {
        height: 270px;
    }

    .section-banner .content , .section2-banner .content {
        width: 100%;
        padding: 60px 20px;
    }

    .footer-links .footer-container {
        grid-template-columns: 1fr;
        font-size: 20px;
    }
}